.bottom_bar {
    position: fixed;
    left: 50%;
    bottom: 5px;
    translate: -50%;
  }

.toast-container{
    position: fixed !important;
}

.custom_sticky{
  position: sticky;
  z-index: 1030;
}

.force_end_cap{
  border-top-right-radius: var(--bs-border-radius) !important; 
  border-bottom-right-radius: var(--bs-border-radius) !important;
}